ion-content {
    // --background: url(src\assets\img\profile_edit.png) no-repeat top center/cover fixed, #fff;
    // --background :#dcdde8;
    position: relative;
    height: auto;
    width: 100%;
}

ion-toolbar {
    // --background: transparent;
    --background: rgb(56, 128, 255);
    --color:white;
}

ion-item{
    --background: transparent;
    color: darkblue;
}

.custom-icon {
    font-size: 30px;
    color :white;
  }
  