<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    
    <ion-item lines="full">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label position="inline">Emp Id</ion-label>
      <ion-input autocomplete="off" type="email" formControlName="empId"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.empId">
        <div *ngIf="myForm.get('empId').hasError(validation.type) && myForm.get('empId').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div>

    <ion-item lines="full">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="inline">Old Password</ion-label>
      <ion-input autocomplete="off" type="password" formControlName="oldpassword"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.oldpassword">
        <div *ngIf="myForm.get('oldpassword').hasError(validation.type) && myForm.get('oldpassword').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div>

    <ion-item lines="full">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="inline">New Password</ion-label>
      <ion-icon slot="end" size="small"
          [name]="passwordShown === true ? 'eye-sharp' : 'eye-off-sharp'" (click)="togglePassword()"></ion-icon>
      <ion-input autocomplete="off" formControlName="password" [type]="passwordType"></ion-input>
    </ion-item>
    <!-- <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="!myForm.get('password').hasError(validation.type) && myForm.get('password').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div> -->

    <ion-item lines="full">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="inline">Confirm New Password </ion-label>
      <ion-icon slot="end" size="small" [name]="passwordShown === true ? 'eye-sharp' : 'eye-off-sharp'"
        (click)="togglePassword()"></ion-icon>
      <ion-input [class.is-invalid]="myForm.errors?.misMatch" autocomplete="off" formControlName="confirmPassword"
        [type]="passwordType"></ion-input>
    </ion-item>
    <div>        <small class="text-danger" *ngIf="!myForm.get('confirmPassword').errors && myForm.hasError('passwordNotMatch') && (myForm.get('confirmPassword').dirty || myForm.get('confirmPassword').touched)">**Passwords do not match</small>
    </div>
    <!-- <div>
      <ng-container *ngFor="let validation of validation_messages.confirmPassword">
        <div *ngIf="!myForm.get('confirmPassword').hasError(validation.type) && myForm.get('confirmPassword').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div> -->

    <ion-row>
      <ion-col>
        <ion-button fill="outline" shape="round" [disabled]="!myForm.valid" type="submit" expand="block" (click)="sendPutRequest()">Update
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>