ion-content {
  // --background: url(src/assets/img/RegPage.png) no-repeat top center/cover fixed, #fff;
  --background: url(../../../theme/photo-1499610519775-f6180db76b5a.jpeg) no-repeat 0 0/100% 100% ;

  position: relative;
  height: auto;
  width: 100%;
}  
// ion-toolbar{
//     --background: rgb(218, 45, 140);
//   }
//   ion-title{
//       --color	:white;
//     }
   .item{
    --background: rgba(238, 223, 223, 0.39);
    --border-width: 1.5px;
    margin-top: 5px;
     border-radius: 40px;


   }
   ion-icon {
    font-size: 15px;
    color: black;
    
  }
  small{
    color:red;
  }

  .total{
    padding-top: 60px;
     margin-left:10px;
      margin-right:10px;
  }
  .heading{
    margin-left:20%;
     margin-bottom:50px;
      color:black;
       font: 1.5em sans-serif;
  }
  