<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">Back</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label position="inline">Email</ion-label>
      <ion-input autocomplete="off" type="email" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="myForm.get('email').hasError(validation.type) && myForm.get('email').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div>

    <ion-item lines="full">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="inline">Old Password</ion-label>
      <ion-icon slot="end" size="small"
          [name]="passwordShown === true ? 'eye-sharp' : 'eye-off-sharp'" (click)="togglePassword()"></ion-icon>
      <ion-input autocomplete="off" type="email" formControlName="password"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="!myForm.get('password').hasError(validation.type) && myForm.get('password').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div>

    <ion-item lines="full">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="inline">New Password</ion-label>
      <ion-icon slot="end" size="small"
          [name]="passwordShown === true ? 'eye-sharp' : 'eye-off-sharp'" (click)="togglePassword()"></ion-icon>
      <ion-input autocomplete="off" formControlName="newPassword" [type]="passwordType"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.newPassword">
        <div *ngIf="!myForm.get('newPassword').hasError(validation.type) && myForm.get('newPassword').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div>

    <ion-item lines="full">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="inline">Confirm New Password</ion-label>
      <ion-icon slot="end" size="small" [name]="passwordShown === true ? 'eye-sharp' : 'eye-off-sharp'"
        (click)="togglePassword()"></ion-icon>
      <ion-input [class.is-invalid]="myForm.errors?.misMatch" autocomplete="off" formControlName="confirmPassword"
        [type]="passwordType"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.confirmPassword">
        <div *ngIf="!myForm.get('confirmPassword').hasError(validation.type) && myForm.get('confirmPassword').touched">
          <small class="text-danger">**{{validation.message}}</small>
        </div>
        </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button fill="outline" shape="round" [disabled]="!myForm.valid" type="submit" expand="block" (click)="btnClick()">Send
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>