<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Reason Box</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="total" >
      <h2 class="heading"  >Reason Box</h2>  

    <ion-item lines="none">
  <ion-label position="floating" required>
  Please fill your reason for late Check-In.
  </ion-label>
  <br>
  <ion-input formControlName="lateInReason" name="lateInReason" auto-grow ></ion-input>
</ion-item>
<ion-button shape="round" color="danger" [disabled]="!myForm.valid"  (click)="sendPostRequest()"  type="submit" color="danger" expand="block">OK</ion-button>
</div>
</form>
</ion-content>

