.android,.md{
    ion-toolbar {
    // --background: transparent;
    --background: rgb(88, 27, 145);
    --color:white;
}
ion-button{
    color:"warning";
}

    .bg{
        //background-image: url('../../../assets/img/empcover.png');
        height: 300px;
        background-size: cover;
        filter: blur(5px);
        background-position: center center;
    }
    .main-cnt{
        width: 100%;
        height: 700px;
        // padding:10px;
        
    }
    .heading{
        text-align: center;
    }
    .dp{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        z-index: 10;
        margin-top:-70px;
        position: relative;
        left:50%;
        margin-right:-50%;
        transform: translate(-50%,-50%);
        box-shadow: -6px 15px 81px 3px rgba(0,0,0,0.75);
    }
    ion-list ion-item{
        color:rgb(110, 16, 119);
        background-color: #311475;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-left: 4%;
        margin-right: 4%;

    }

}



