ion-content {
    // --background: url(src/assets/img/empProfile_cover.jpg) no-repeat top center/cover fixed, #fff;
    --background :#dcdde8;
    position: relative;
    height: auto;
    width: 100%;
}

ion-toolbar {
    // --background: transparent;
    --background: rgb(56, 128, 255);
    --color:white;
}
ion-button{
    color:"warning";
}

ion-item{
    --background: transparent;
    color: blue;
}

.avatar{
    margin: 0 auto;
 }

