<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">
    <ion-icon name="happy-outline"></ion-icon>
      My Profile&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile-edit']">
        <ion-icon name="create-outline"></ion-icon>
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed"  [scrollEvents]="true">

  <ion-avatar class="avatar">
    <img src="../../assets/img/EmpProfilePic.png" alt="">
    <ion-chip>
      <ion-label color="danger">ID</ion-label>
    </ion-chip>
  </ion-avatar>
<br>
<div class="ion-padding">

  <ion-item>
    <ion-label>
      Name
    </ion-label>
  </ion-item>
  <ion-item>
      <ion-label>
        Designation
      </ion-label>
  </ion-item>
    <ion-item>
      <ion-label>
        Reporting Manager
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Hardware Allotted
      </ion-label>
    </ion-item>
    <ion-item>
    <ion-label>
      Personal Email
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Address
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Mobile number
    </ion-label>
  </ion-item>
  </div>
</ion-content>