ion-content {
    // --background: url(src/assets/img/RegPage.png) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: auto;
    width: 100%;
}

p{
    color:red;
}
  
ion-toolbar{
    --background: rgb(56, 128, 255);
}
ion-title{
      --color	:white;
    }
    