<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Reason Box</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="total" >
      <h2 class="heading"  >Reason Box</h2>  

    <ion-item lines="none">
  <ion-label position="floating" required>
    Please fill your reason for Checking out early.
  </ion-label>
  <br>
  <ion-input formControlName="earlyOutReason" name="earlyOutReason" auto-grow ></ion-input>
</ion-item>
<ion-button shape="round" color="danger" [disabled]="!myForm.valid"  (click)="sendPutRequest()"  type="submit" expand="block">Submit</ion-button>
</div>
</form>
</ion-content>


