<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Reason Box</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="myForm">
<ion-item>
  <ion-label position="stacked" required>
   Please fill your reason for Checking out early...
  </ion-label>
  <br>
  <ion-textarea formControlName="reason" name="reason" auto-grow ></ion-textarea>
</ion-item>
<ion-button [disabled]="!myForm.valid"  [routerLink]="['/home']"  type="submit" color="danger" expand="block">OK</ion-button>
</form>
</ion-content>


