<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Welcome user</ion-title>
    <ion-button slot="end" [routerLink]="['/profile']" color="warning">My Profile</ion-button>
    <ion-button slot="end" href="tel:+91 83340 95538">Call us</ion-button>
    <ion-button slot="end" [routerLink]="['/home']" (click)="afunction()" color="danger">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Current Date : {{ today | date: 'dd/MM/yyyy' }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Current Time : {{ today | date: 'HH:mm' }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Current Latitude : {{latitude}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Current Longitude : {{longitude}}
    </ion-label>
  </ion-item>
    
  <!-- <google-map apiKey="AIzaSyCtNH7PZEAwAc_VyHM03afa0-rgXS0wqXk"></google-map> --> 
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" [disableDefaultUI]="false">
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]=true></agm-marker>
    </agm-map>
</ion-content>

<!-- <ion-content> -->

<!-- </ion-content> -->

<!-- <ion-footer>
  <button ion-button color="light" full (click)="testMarker()">Test Marker</button>
</ion-footer> -->
