.auth-form ion-grid,
.auth-form ion-row {
  height: 100%;
  justify-content: center;
}

.already {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

ion-content {
   --background: url(../../theme/sky.jpg) no-repeat 0 0/100% 100% , #fff;
  --background-size: contain;
  position: relative;
  height: auto;
  width: 100%;
}

.bottom_pos {
  position: fixed;
  left: 0;
  bottom: 80px;
  right: 0;
  font: 1.2em sans-serif;

}

// ion-toolbar{
// --background: rgb(33, 21, 138);
// }

// ion-title{
//   --color	:white;
// }
.heading{
  margin-left:15%;
  padding-top: 160px;
   margin-bottom:50px;
    color:rgb(24, 8, 82);
     font: 1.5em sans-serif;
}
