<ion-header [translucent]="true">
<ion-toolbar color="success">
  <ion-buttons slot="secondary">
    <ion-button fill="solid" (click)="navigateToRegistration()">
      <ion-icon slot="end" name="person-add"></ion-icon>
      Registration
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button share="round" fill="solid" (click)="navigateToLogin()">
      <ion-icon slot="end" name="log-in"></ion-icon>
      Login
    </ion-button>
  </ion-buttons>
  <ion-title ngStyle>Home</ion-title>
  <!-- <ion-buttons slot="primary">
    <ion-button fill="solid" color="secondary">
      Help
      <ion-icon slot="end" name="help-circle"></ion-icon>
    </ion-button>
  </ion-buttons> -->
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header style="margin-top: 50px; text-align: center;">
    <ion-toolbar>
      <ion-title size="large">Zreyas Tecnology</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
  </div>
</ion-content>
