.auth-form ion-grid,
.auth-form ion-row {
  height: 100%;
  justify-content: center;
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

ion-content {
  --background: url(../../assets/img/empcover.png) no-repeat top center/cover fixed, #fff;
  position: relative;
  height: auto;
  width: 100%;
}