<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
<div class="form-group">
      <ion-label position="stacked"><ion-icon name="mail-outline"></ion-icon>
      &nbsp; Email or Emp_Id</ion-label>
      <ion-input class="form-control" autocomplete="off" type="email" formControlName="email"></ion-input>
</div>
    <div>
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="myForm.get('email').hasError(validation.type) && myForm.get('email').touched">
            <small class="text-danger">**{{validation.message}}</small>
          </div>
        </ng-container>
      </div>
      
<div class="form-group">
      <ion-label position="stacked">  <ion-icon name="key-outline"></ion-icon> &nbsp;
       Old Password</ion-label>
      <ion-input class="form-control" autocomplete="off" type="password" formControlName="password"></ion-input>
</div>
      <div>
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="myForm.get('password').hasError(validation.type) && myForm.get('password').touched">
            <small class="text-danger">**{{validation.message}}</small>
          </div>
        </ng-container>
      </div>
      
<div class="form-group">
      <ion-label position="stacked"><ion-icon name="key-outline"></ion-icon>
       &nbsp;New Password <ion-icon slot="end" size="small" [name]="passwordShown === true ? 'eye-off-sharp' : 'eye-sharp'" (click)="togglePassword()"></ion-icon></ion-label>
      <ion-input  class="form-control" formControlName="newPassword"  [type]="passwordType" ></ion-input>
</div>
<div class="form-group">
      <ion-label position="stacked"><ion-icon name="key-outline"></ion-icon> &nbsp;Confirm New Password  
 </ion-label>
 <ion-icon slot="secondary" size="small" [name]="passwordShown === true ? 'eye-off-sharp' : 'eye-sharp'" (click)="togglePassword()"></ion-icon>
      <ion-input [class.is-invalid]="myForm.errors?.misMatch" formControlName="confirmPassword" class="form-control" [type]="passwordType" required></ion-input>
    <small class="text-danger" *ngIf="!myForm.get('confirmPassword').errors && myForm.hasError('passwordNotMatch') && (myForm.get('confirmPassword').dirty || myForm.get('confirmPassword').touched)">**Passwords do not match</small>
</div>
        <ion-button [disabled] = "!myForm.valid" type="submit" color="success" expand="block" share="round" (click)="btnClick()">Update</ion-button>

  </form>
</ion-col>
</ion-row>
</ion-grid>
</ion-card-content>
