<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
  <form>
    <ion-item >
      <ion-label position="stacked"><ion-icon name="mail-outline"></ion-icon> &nbsp;Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"><ion-icon name="key-outline"></ion-icon> &nbsp;Old Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="stacked"><ion-icon name="key-outline"></ion-icon> &nbsp;New Password </ion-label>
      <ion-input [type]="passwordType" required></ion-input>
      <ion-icon slot="end" size="small" [name]="passwordShown === true ? 'eye-off-sharp' : 'eye-sharp'" (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-item >
      <ion-label position="stacked"><ion-icon name="key-outline"></ion-icon> &nbsp;Confirm New Password</ion-label>
      <ion-input [type]="passwordType" required></ion-input>
      <ion-icon slot="end" size="small" [name]="passwordShown === true ? 'eye-off-sharp' : 'eye-sharp'" (click)="togglePassword()"></ion-icon><br>
    </ion-item>

        <ion-button type="submit" color="success" expand="block" share="round" (click)="btnClick()">Update</ion-button>

  </form>
</ion-col>
</ion-row>
</ion-grid>
</ion-card-content>
